@use "./variables" as *;

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 5px;
    background-color: $color-primary;
    padding: 10px;
    margin: 0px 8px 10px 12px;
}

.button {
    width: 20vw;
    height: auto;
    font-size: 30px;
    border-radius: 5px;
    border: 2px solid $color-primary;
    padding: 10px;

    &__number {
        background-color: $color-secondary;
        color: $color-white;

        &--0 {
            grid-column-start: 1;
            grid-column-end: 3;
            width: 45vw;
        }
    }

    &__operator {
        background-color: $color-tertiary;
        color: $color-white;

        &--power {
            display: none;
        }
    }

    &__operator--equal {
        background-color: $color-tertiary;
        color: $color-white;
    }

    &__function--dot {
        background-color: $color-secondary;
        color: $color-white;
    }
}

.button:active {
    position: relative;
    top: 2px;
}

.button__trig {
    display: none;
}

@media screen and (min-width: $desktop-breakpoint) {
    .button__trig {
        display: unset;
    }

    .container {
        padding: 40px 0px 40px 20px;
        gap: 20px;
    }
    
    .button {
        &__operator{
            &--power{
                display: unset;
            }
        }
    }
}