
@use "./variables" as *;

.display {
    width: 95vw;
    height: 10vh;
    background-color: $color-primary;
    margin: 10px;
    color: $color-white;
    font-size: 55px;
    text-align: end;
}

@media screen and (min-width: $desktop-breakpoint) {
    .display {
        margin-left: 2.5vw;
    }
}