//breakpoint variables
$desktop-breakpoint: 1024px;
$desktopLarge-breakpoint: 1440px;

//font variables
@import url('https://fonts.googleapis.com/css2?family=Cormorant&family=Inter&display=swap');
$font-display: Cormorant, sans-serif;
$font-body: Inter, sans-serif;

//colour variables
$color-primary: #333138;
$color-secondary: #788AA3;
$color-tertiary: #B9314F;
$color-white: #F7F4F3;