//breakpoint variables
$desktop-breakpoint: 1024px;
$desktopLarge-breakpoint: 1440px;

//font variables
@import url('https://fonts.googleapis.com/css2?family=Cormorant&family=Inter&display=swap');
$font-display: Cormorant, sans-serif;
$font-body: Inter, sans-serif;

//colour variables
$color-primary: orange;
$color-secondary: rgb(97, 97, 97);
$color-secondary-light: rgb(195, 193, 193);
