@use "./variables" as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: $color-white;
}

.display {
    width: 95vw;
    height: 10vh;
    background-color: $color-primary;
    margin: 10px;
    color: white;
    font-size: 55px;
    text-align: end;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 5px;
    background-color: $color-primary;
    padding: 10px;
    margin: 0px 8px 10px 12px;
}

.button {
    width: 20vw;
    height: auto;
    font-size: 30px;
    border-radius: 50px;
    border: 2px solid $color-primary;
    padding: 10px;

    &__number {
        background-color: $color-secondary;
        color: $color-white;
        &--0 {
            grid-column-start: 1;
            grid-column-end: 3;
            width: 45vw;
        }
    }
    &__operator {
        background-color: $color-tertiary;
        color: $color-white;
    }

    &__operator--equal {
        background-color: $color-tertiary;
        color: $color-white;
    }
    &__function--dot {
        background-color: $color-secondary;
        color: $color-white;
    }
}

.button:active {
    position: relative;
    top: 1px;
}

.button__functionExtended {
    display: none;
}

.easterEgg {
    margin: 10px;
    text-decoration: none;
    color: $color-primary;
}
@media screen and (min-width: $desktop-breakpoint) {
    .display {
        margin-left: 2.5vw;
    }
    .button__functionExtended {
        display: unset;
    }
    
    .buttons {
        padding: 40px 0px 40px 20px;
        gap: 20px;
    }

    .button{
        &__operator--divide {
            grid-area: 2/4/3/5;
        }
        &__operator--multiply {
            grid-area: 3/4/4/5;
        }
        &__operator--minus {
            grid-area: 4/4/5/5;
        }
        &__operator--plus {
            grid-area: 5/4/6/5;
        }
        &__operator--equal {
            grid-area: 6/1/7/5;
            width: 94vw;;
        }
        &__functionExtended--sin {
            grid-area: 7/1/8/2;
        }
        &__functionExtended--cos {
            grid-area: 7/2/8/3;
        }
        &__functionExtended--tan {
            grid-area: 7/3/8/4;
        }
        &__functionExtended--log {
            grid-area: 7/4/8/5;
        }
    }
}