@use "./variables" as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.display {
    width: 95vw;
    height: 10vh;
    background-color: black;
    margin: 10px;
    color: white;
    font-size: 55px;
    text-align: end;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 5px;
    background-color: black;
    padding: 10px;
}

.button {
    width: 20vw;
    height: auto;
    font-size: 30px;
    border-radius: 50px;
    padding: 10px;

    &__number {
        &--0 {
            grid-column-start: 1;
            grid-column-end: 3;
            width: 45vw;
        }
    }
}

.button__functionExtended {
    display: none;
}

@media screen and (min-width: $desktop-breakpoint) {
    .button__functionExtended {
        display: unset;
    }
}